<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/js/form-functions.js"></script>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>


    <input id="start-date" type="date">
    <input id="end-date" type="date">
    <button type="button" onclick="getStats()">Submit</button>

<table id="stats-table">
   <tbody id="tableBody">

    </tbody>
</table>

<table id="total-stats-table">
    <tbody id="totalStats-tableBody">

    </tbody>
</table>



<script src="/js/stats.js"></script>
</body>
</html>
